@model LeaveRequest.ASP.DataAccess.Param.EmployeeLeaveParam
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<h2>Leave Request</h2>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Leave Request", "Index", "EmployeeLeave", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "EmployeeLeave")</li>
                <li>@Html.ActionLink("Leave Request", "Create", "EmployeeLeave")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h4>Employee Details</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control" })
            </div>
        </div>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Company, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Department, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.JobTitle, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
            </div>
        </div>
        <hr />
    </div>
</div>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<div class="row">
    <div class="col-md-8">
        <h4>Leave Request</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate)
            @Html.EditorFor(model => model.StartDate,
         new { htmlAttributes = new { @class = "form-control date-picker" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate)
            @Html.EditorFor(model => model.EndDate,
         new { htmlAttributes = new { @class = "form-control date-picker" } })
        </div>
        <b>Special Leaves</b>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(m => m.LeaveType, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.LeaveType, (IEnumerable<SelectListItem>)ViewBag.leavetype, "Select Special Leave Type (If Any)", new { htmlAttributes = new { @class = "form-control dropdown-list" } })
                <hr />             
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            $(".date-picker").datepicker({
                dateFormat: 'dd/mm/yy'
            });

        });

</script>
}